<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active" href="/">Home</a>
    <a class="nav-item nav-link" href="/saved">Saved</a>
    <button type="button" class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</button>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="overlay">
  <div class="background-image">
  <div class="caption">
    <h1>Article Scraper</h1>
    <p>New York Times Edition</p>
  </div>
  </div>
  </div>
</div>

<div class="container-fluid article-container">
  {{#each articles}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.summary}}</p>
        <a href="{{this.link}}" target="_blank" class="btn btn-dark">Link to Full Article</a>
        <a href="" target="_blank" class="btn btn-danger">Save Article</a>
        <a href="" target="_blank" class="btn btn-primary">Add a Note</a>
      </div>
    </div>
  {{/each}}
</div>
